{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://elasticmapreduce.amazonaws.com/"
        },
        {
            "url": "http://elasticmapreduce.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon EMR is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Elastic MapReduce",
        "version": "2009-03-31",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticmapreduce-2009-03-31.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "elasticmapreduce"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/elasticmapreduce/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds an instance fleet to a running cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x.</p> </note>",
                "operationId": "AddInstanceFleet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ClusterId": {
                                            "description": "The unique identifier of the cluster.",
                                            "maxLength": 256,
                                            "minLength": 0,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        },
                                        "InstanceFleetId": {
                                            "description": "The unique identifier of the instance fleet.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddInstanceGroups": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds one or more instance groups to a running cluster.",
                "operationId": "AddInstanceGroups",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Output from an AddInstanceGroups call.",
                                    "properties": {
                                        "InstanceGroupIds": {
                                            "description": "Instance group IDs of the newly created instance groups.",
                                            "items": {
                                                "maxLength": 256,
                                                "minLength": 0,
                                                "type": "string",
                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                            },
                                            "type": "array"
                                        },
                                        "JobFlowId": {
                                            "description": "The job flow ID in which the instance groups are added.",
                                            "maxLength": 256,
                                            "minLength": 0,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddJobFlowSteps": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using SSH to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>A step specifies the location of a JAR file stored either on the master node of the cluster or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a cluster that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p>",
                "operationId": "AddJobFlowSteps",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The output for the <a>AddJobFlowSteps</a> operation. ",
                                    "properties": {
                                        "StepIds": {
                                            "description": "The identifiers of the list of steps added to the job flow.",
                                            "items": {
                                                "maxLength": 256,
                                                "minLength": 0,
                                                "type": "string",
                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " The input argument to the <a>AddJobFlowSteps</a> operation. ",
                                "properties": {
                                    "JobFlowId": {
                                        "description": "A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. ",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "Steps": {
                                        "description": " A list of <a>StepConfig</a> to be executed by the job flow. ",
                                        "items": {
                                            "description": "Specification of a cluster (job flow) step.",
                                            "properties": {
                                                "ActionOnFailure": {
                                                    "description": "The action to take when the cluster step fails. Possible values are TERMINATE_CLUSTER, CANCEL_AND_WAIT, and CONTINUE. TERMINATE_JOB_FLOW is provided for backward compatibility. We recommend using TERMINATE_CLUSTER instead.",
                                                    "enum": [
                                                        "TERMINATE_JOB_FLOW",
                                                        "TERMINATE_CLUSTER",
                                                        "CANCEL_AND_WAIT",
                                                        "CONTINUE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "HadoopJarStep": {
                                                    "description": "The JAR file used for the step.",
                                                    "properties": {
                                                        "Args": {
                                                            "description": "A list of command line arguments passed to the JAR file's main function when executed.",
                                                            "items": {
                                                                "maxLength": 10280,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Jar": {
                                                            "description": "A path to a JAR file run during the step.",
                                                            "maxLength": 10280,
                                                            "minLength": 0,
                                                            "type": "string",
                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                        },
                                                        "MainClass": {
                                                            "description": "The name of the main class in the specified Java file. If not specified, the JAR file should specify a Main-Class in its manifest file.",
                                                            "maxLength": 10280,
                                                            "minLength": 0,
                                                            "type": "string",
                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                        },
                                                        "Properties": {
                                                            "description": "A list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.",
                                                            "items": {
                                                                "description": "A key value pair.",
                                                                "properties": {
                                                                    "Key": {
                                                                        "description": "The unique identifier of a key value pair.",
                                                                        "maxLength": 10280,
                                                                        "minLength": 0,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                    },
                                                                    "Value": {
                                                                        "description": "The value part of the identified key.",
                                                                        "maxLength": 10280,
                                                                        "minLength": 0,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "required": [
                                                        "Jar"
                                                    ],
                                                    "type": "object"
                                                },
                                                "Name": {
                                                    "description": "The name of the step.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string",
                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                }
                                            },
                                            "required": [
                                                "Name",
                                                "HadoopJarStep"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "JobFlowId",
                                    "Steps"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddTags": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds tags to an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. ",
                "operationId": "AddTags",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "This output indicates the result of adding tags to a resource.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "This input identifies a cluster and a list of tags to attach.",
                                "properties": {
                                    "ResourceId": {
                                        "description": "The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A list of tags to associate with a cluster and propagate to EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.",
                                        "items": {
                                            "description": "A key/value pair containing user-defined metadata that you can associate with an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. ",
                                            "properties": {
                                                "Key": {
                                                    "description": "A user-defined key, which is the minimum required information for a valid tag. For more information, see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag </a>. ",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A user-defined value, which is optional in a tag. For more information, see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. ",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceId",
                                    "Tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CancelSteps": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee a step will be canceled, even if the request is successfully submitted. You can only cancel steps that are in a <code>PENDING</code> state.",
                "operationId": "CancelSteps",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The output for the <a>CancelSteps</a> operation. ",
                                    "properties": {
                                        "CancelStepsInfoList": {
                                            "description": "A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests for each <code>StepID</code> specified.",
                                            "items": {
                                                "description": "Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.",
                                                "properties": {
                                                    "Reason": {
                                                        "description": "The reason for the failure if the CancelSteps request fails.",
                                                        "type": "string"
                                                    },
                                                    "Status": {
                                                        "description": "The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.",
                                                        "enum": [
                                                            "SUBMITTED",
                                                            "FAILED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "StepId": {
                                                        "description": "The encrypted StepId of a step.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input argument to the <a>CancelSteps</a> operation.",
                                "properties": {
                                    "ClusterId": {
                                        "description": "The <code>ClusterID</code> for which specified steps will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. ",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "StepIds": {
                                        "description": "The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their states for the specified cluster.",
                                        "items": {
                                            "maxLength": 256,
                                            "minLength": 0,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateSecurityConfiguration": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a security configuration, which is stored in the service and can be specified when a cluster is created.",
                "operationId": "CreateSecurityConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "CreationDateTime": {
                                            "description": "The date and time the security configuration was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the security configuration.",
                                            "maxLength": 10280,
                                            "minLength": 0,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        }
                                    },
                                    "required": [
                                        "Name",
                                        "CreationDateTime"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the security configuration.",
                                        "maxLength": 10280,
                                        "minLength": 0,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "SecurityConfiguration": {
                                        "description": "The security configuration details in JSON format. For JSON parameters and examples, see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html\">Use Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management Guide</i>.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Name",
                                    "SecurityConfiguration"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteSecurityConfiguration": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a security configuration.",
                "operationId": "DeleteSecurityConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the security configuration.",
                                        "maxLength": 10280,
                                        "minLength": 0,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    }
                                },
                                "required": [
                                    "Name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on. ",
                "operationId": "DescribeCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "This input determines which cluster to describe.",
                                "properties": {
                                    "ClusterId": {
                                        "description": "The identifier of the cluster to describe.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeJobFlows": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This API is deprecated and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>",
                "operationId": "DescribeJobFlows",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The output for the <a>DescribeJobFlows</a> operation. ",
                                    "properties": {
                                        "JobFlows": {
                                            "description": "A list of job flows matching the parameters supplied.",
                                            "items": {
                                                "description": "A description of a cluster (job flow).",
                                                "properties": {
                                                    "AmiVersion": {
                                                        "description": "Applies only to Amazon EMR AMI versions 3.x and 2.x. For Amazon EMR releases 4.0 and later, <code>ReleaseLabel</code> is used. To specify a custom AMI, use <code>CustomAmiID</code>.",
                                                        "maxLength": 256,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "AutoScalingRole": {
                                                        "description": "An IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides a way for the automatic scaling feature to get the required permissions it needs to launch and terminate EC2 instances in an instance group.",
                                                        "maxLength": 10280,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "BootstrapActions": {
                                                        "description": "A list of the bootstrap actions run by the job flow.",
                                                        "items": {
                                                            "description": "Reports the configuration of a bootstrap action in a cluster (job flow).",
                                                            "properties": {
                                                                "BootstrapActionConfig": {
                                                                    "description": "A description of the bootstrap action.",
                                                                    "properties": {
                                                                        "Name": {
                                                                            "description": "The name of the bootstrap action.",
                                                                            "maxLength": 256,
                                                                            "minLength": 0,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "ScriptBootstrapAction": {
                                                                            "description": "The script run by the bootstrap action.",
                                                                            "properties": {
                                                                                "Args": {
                                                                                    "description": "A list of command line arguments to pass to the bootstrap action script.",
                                                                                    "items": {
                                                                                        "maxLength": 10280,
                                                                                        "minLength": 0,
                                                                                        "type": "string",
                                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "Path": {
                                                                                    "description": "Location of the script to run during a bootstrap action. Can be either a location in Amazon S3 or on a local file system.",
                                                                                    "maxLength": 10280,
                                                                                    "minLength": 0,
                                                                                    "type": "string",
                                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "Path"
                                                                            ],
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Name",
                                                                        "ScriptBootstrapAction"
                                                                    ],
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ExecutionStatusDetail": {
                                                        "description": "Describes the execution status of the job flow.",
                                                        "properties": {
                                                            "CreationDateTime": {
                                                                "description": "The creation date and time of the job flow.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "EndDateTime": {
                                                                "description": "The completion date and time of the job flow.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "LastStateChangeReason": {
                                                                "description": "Description of the job flow last changed state.",
                                                                "maxLength": 10280,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "ReadyDateTime": {
                                                                "description": "The date and time when the job flow was ready to start running bootstrap actions.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "StartDateTime": {
                                                                "description": "The start date and time of the job flow.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "State": {
                                                                "description": "The state of the job flow.",
                                                                "enum": [
                                                                    "STARTING",
                                                                    "BOOTSTRAPPING",
                                                                    "RUNNING",
                                                                    "WAITING",
                                                                    "SHUTTING_DOWN",
                                                                    "TERMINATED",
                                                                    "COMPLETED",
                                                                    "FAILED"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "State",
                                                            "CreationDateTime"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "Instances": {
                                                        "description": "Describes the Amazon EC2 instances of the job flow.",
                                                        "properties": {
                                                            "Ec2KeyName": {
                                                                "description": "The name of an Amazon EC2 key pair that can be used to ssh to the master node.",
                                                                "maxLength": 256,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "Ec2SubnetId": {
                                                                "description": "For clusters launched within Amazon Virtual Private Cloud, this is the identifier of the subnet where the cluster was launched.",
                                                                "maxLength": 256,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "HadoopVersion": {
                                                                "description": "The Hadoop version for the cluster.",
                                                                "maxLength": 256,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "InstanceCount": {
                                                                "description": "The number of Amazon EC2 instances in the cluster. If the value is 1, the same instance serves as both the master and core and task node. If the value is greater than 1, one instance is the master node and all others are core and task nodes.",
                                                                "type": "integer"
                                                            },
                                                            "InstanceGroups": {
                                                                "description": "Details about the instance groups in a cluster.",
                                                                "items": {
                                                                    "description": "Detailed information about an instance group.",
                                                                    "properties": {
                                                                        "BidPrice": {
                                                                            "description": "<p>The maximum Spot price your are willing to pay for EC2 instances.</p> <p>An optional, nullable field that applies if the <code>MarketType</code> for the instance group is specified as <code>SPOT</code>. Specified in USD. If the value is NULL and <code>SPOT</code> is specified, the maximum Spot price is set equal to the On-Demand price.</p>",
                                                                            "maxLength": 256,
                                                                            "minLength": 0,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "CreationDateTime": {
                                                                            "description": "The date/time the instance group was created.",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "EndDateTime": {
                                                                            "description": "The date/time the instance group was terminated.",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "InstanceGroupId": {
                                                                            "description": "Unique identifier for the instance group.",
                                                                            "maxLength": 256,
                                                                            "minLength": 0,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "InstanceRequestCount": {
                                                                            "description": "Target number of instances to run in the instance group.",
                                                                            "type": "integer"
                                                                        },
                                                                        "InstanceRole": {
                                                                            "description": "Instance group role in the cluster",
                                                                            "enum": [
                                                                                "MASTER",
                                                                                "CORE",
                                                                                "TASK"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "InstanceRunningCount": {
                                                                            "description": "Actual count of running instances.",
                                                                            "type": "integer"
                                                                        },
                                                                        "InstanceType": {
                                                                            "description": "EC2 instance type.",
                                                                            "maxLength": 256,
                                                                            "minLength": 1,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "LastStateChangeReason": {
                                                                            "description": "Details regarding the state of the instance group.",
                                                                            "maxLength": 10280,
                                                                            "minLength": 0,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "Market": {
                                                                            "description": "Market type of the EC2 instances used to create a cluster node.",
                                                                            "enum": [
                                                                                "ON_DEMAND",
                                                                                "SPOT"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "Name": {
                                                                            "description": "Friendly name for the instance group.",
                                                                            "maxLength": 256,
                                                                            "minLength": 0,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "ReadyDateTime": {
                                                                            "description": "The date/time the instance group was available to the cluster.",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "StartDateTime": {
                                                                            "description": "The date/time the instance group was started.",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "State": {
                                                                            "description": "State of instance group. The following values are deprecated: STARTING, TERMINATED, and FAILED.",
                                                                            "enum": [
                                                                                "PROVISIONING",
                                                                                "BOOTSTRAPPING",
                                                                                "RUNNING",
                                                                                "RESIZING",
                                                                                "SUSPENDED",
                                                                                "TERMINATING",
                                                                                "TERMINATED",
                                                                                "ARRESTED",
                                                                                "SHUTTING_DOWN",
                                                                                "ENDED"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Market",
                                                                        "InstanceRole",
                                                                        "InstanceType",
                                                                        "InstanceRequestCount",
                                                                        "InstanceRunningCount",
                                                                        "State",
                                                                        "CreationDateTime"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "KeepJobFlowAliveWhenNoSteps": {
                                                                "description": "Specifies whether the cluster should remain available after completing all steps.",
                                                                "type": "boolean"
                                                            },
                                                            "MasterInstanceId": {
                                                                "description": "The Amazon EC2 instance identifier of the master node.",
                                                                "maxLength": 10280,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "MasterInstanceType": {
                                                                "description": "The Amazon EC2 master node instance type.",
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "MasterPublicDnsName": {
                                                                "description": "The DNS name of the master node. If the cluster is on a private subnet, this is the private DNS name. On a public subnet, this is the public DNS name.",
                                                                "maxLength": 10280,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "NormalizedInstanceHours": {
                                                                "description": "An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour that an m1.small runs. Larger instances are weighted more, so an Amazon EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.",
                                                                "type": "integer"
                                                            },
                                                            "Placement": {
                                                                "description": "The Amazon EC2 Availability Zone for the cluster.",
                                                                "properties": {
                                                                    "AvailabilityZone": {
                                                                        "description": "The Amazon EC2 Availability Zone for the cluster. <code>AvailabilityZone</code> is used for uniform instance groups, while <code>AvailabilityZones</code> (plural) is used for instance fleets.",
                                                                        "maxLength": 10280,
                                                                        "minLength": 0,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                    },
                                                                    "AvailabilityZones": {
                                                                        "description": "<p>When multiple Availability Zones are specified, Amazon EMR evaluates them and launches instances in the optimal Availability Zone. <code>AvailabilityZones</code> is used for instance fleets, while <code>AvailabilityZone</code> (singular) is used for uniform instance groups.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
                                                                        "items": {
                                                                            "maxLength": 256,
                                                                            "minLength": 0,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "SlaveInstanceType": {
                                                                "description": "The Amazon EC2 core and task node instance type.",
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "TerminationProtected": {
                                                                "description": "Specifies whether the Amazon EC2 instances in the cluster are protected from termination by API calls, user intervention, or in the event of a job-flow error.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "MasterInstanceType",
                                                            "SlaveInstanceType",
                                                            "InstanceCount"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "JobFlowId": {
                                                        "description": "The job flow identifier.",
                                                        "maxLength": 256,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "JobFlowRole": {
                                                        "description": "The IAM role that was specified when the job flow was launched. The EC2 instances of the job flow assume this role.",
                                                        "maxLength": 10280,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "LogUri": {
                                                        "description": "The location in Amazon S3 where log files for the job are stored.",
                                                        "maxLength": 10280,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the job flow.",
                                                        "maxLength": 256,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "ScaleDownBehavior": {
                                                        "description": "The way that individual Amazon EC2 instances terminate when an automatic scale-in activity occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless of when the request to terminate the instance was submitted. This option is only available with Amazon EMR 5.1.0 and later and is the default for clusters created using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR blacklists and drains tasks from nodes before terminating the Amazon EC2 instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> available only in Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.",
                                                        "enum": [
                                                            "TERMINATE_AT_INSTANCE_HOUR",
                                                            "TERMINATE_AT_TASK_COMPLETION"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ServiceRole": {
                                                        "description": "The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf.",
                                                        "maxLength": 10280,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "Steps": {
                                                        "description": "A list of steps run by the job flow.",
                                                        "items": {
                                                            "description": "Combines the execution state and configuration of a step.",
                                                            "properties": {
                                                                "ExecutionStatusDetail": {
                                                                    "description": "The description of the step status.",
                                                                    "properties": {
                                                                        "CreationDateTime": {
                                                                            "description": "The creation date and time of the step.",
[...]
